/* https://coolors.co/85bdbf-defff2-57737a-484041-0ff4c6 */

.menu{
    background-color: #0FF4C6;
}

#nav-tabContent{
    padding: 15%;
    background-color: #DEFFF2;
}

aside .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: black;
  }

  aside img {
    width: 130px;
}